<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowander.blog.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.nowander.blog.pojo.po.Article">
        <id column="id" property="id"/>
        <result column="category" property="category"/>
        <result column="author_id" property="authorId"/>
        <result column="title" property="title"/>
        <result column="labels" property="labels"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="collected" property="collected"/>
    </resultMap>
    <select id="pageByLike" resultType="com.nowander.blog.pojo.po.Article">
        SELECT *
        FROM `article` `a`
          LEFT JOIN `like_count` `l`
        ON `a`.`id` = `l`.`target_id`
          AND `l`.`target_type` = 0
        ORDER BY `l`.`count` DESC
    </select>

</mapper>
